.clear::after {
  content: "";
  display: block;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0; }

a {
  color: #ffc107;
  text-decoration: underline; }
  a:hover {
    color: #FF852B; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto";
  background: #eee; }

section.top-bar {
  background: #ffb300;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  z-index: 1; }
  section.top-bar span.welcome {
    font-family: 'Roboto';
    font-weight: 600; }
  section.top-bar span.delivery {
    float: left;
    margin-left: 20%; }
    section.top-bar span.delivery b {
      margin: 0 10px; }
  section.top-bar div.network {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    list-style: none; }
    section.top-bar div.network div.item {
      display: inline-block;
      margin: 0;
      padding: 0; }
      section.top-bar div.network div.item a {
        margin: 0;
        color: #fff;
        display: block;
        padding: 0 10px; }

header {
  background: #ffc107;
  z-index: 3;
  padding: 20px 20px;
  box-shadow: 0px 1px 10px 0px rgba(105, 104, 104, 0.3);
  position: relative; }
  header .brand h1 {
    font-size: 30px;
    color: #fff;
    margin: 0; }
    header .brand h1 i.icon {
      font-size: 35px;
      margin-right: 20px; }
  header .search:after {
    clear: both;
    display: block;
    content: ""; }
  header .search #input-search {
    width: 80%;
    float: left; }
    header .search #input-search input {
      background: transparent;
      border: none;
      width: 100%;
      box-shadow: 0 3px 0 0 #f78d06;
      outline: none;
      padding: 8px 5px;
      color: #fff; }
      header .search #input-search input::-webkit-input-placeholder {
        color: #935404;
        font-weight: 300; }
  header .search #button-search {
    width: 20%;
    float: left; }
    header .search #button-search button {
      float: right;
      display: block;
      font-size: 30px;
      color: #fff;
      border: none;
      background: transparent; }
      header .search #button-search button:focus {
        outline: none; }

nav.tabs {
  background: #fff;
  width: 100%;
  box-shadow: 0px 0px 6px 0px rgba(105, 104, 104, 0.14);
  z-index: 2; }
  nav.tabs:after {
    clear: both;
    display: block;
    content: ""; }
  nav.tabs ul {
    float: right;
    margin: 0; }
    nav.tabs ul li {
      list-style: none;
      display: inline-block; }
      nav.tabs ul li:after {
        content: "";
        width: 100%;
        height: 3px;
        display: block; }
      nav.tabs ul li:hover:after {
        background: #aaa; }
      nav.tabs ul li.active:after {
        background: #ffc107; }
      nav.tabs ul li a {
        font-family: 'Roboto';
        font-weight: 300;
        color: #ffc107;
        display: block;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none; }
        nav.tabs ul li a:hover {
          text-decoration: none; }

div.slides {
  z-index: 1;
  width: 100%;
  height: 514px;
  overflow: hidden;
  position: relative; }
  div.slides div.slide {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 6px 0px rgba(105, 104, 104, 0.14);
    background-image: url("../image/bg-slide.jpg");
    padding: 180px; }
    div.slides div.slide h2 {
      text-align: center;
      color: #fff;
      font-size: 60px; }
    div.slides div.slide p {
      font-weight: 100;
      color: #fff;
      font-size: 30px;
      text-align: center; }

div.card {
  min-height: 300px;
  background: #fff;
  width: 100%;
  margin: 40px auto;
  box-shadow: 0px 0px 6px 0px rgba(105, 104, 104, 0.14);
  transition: all .3s ease; }
  div.card.full {
    width: 100%;
    margin: -10px auto; }
  div.card.map {
    margin-top: 0; }

div#about .image-full {
  width: 100%;
  position: relative; }
  div#about .image-full::after {
    position: absolute;
    content: "";
    background: rgba(1, 1, 1, 0.2);
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block; }
  div#about .image-full img {
    width: 100%; }
  div#about .image-full div.avatar {
    padding: 30px 46px;
    font-size: 50px;
    box-shadow: 0 1px 1px 0 #ccc;
    position: absolute;
    bottom: -18%;
    right: 10%;
    background: #ffc107;
    border-radius: 100%;
    z-index: 4;
    color: #fff; }
div#about .description {
  padding: 60px 60px;
  padding-right: 100px; }
  div#about .description h2 {
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #555; }
    div#about .description h2 i {
      display: inline-block;
      margin-left: 20px; }
  div#about .description p {
    line-height: 150%;
    color: #999;
    font-weight: 300;
    font-size: 18px; }

div#pemesanan {
  padding: 60px; }
  div#pemesanan h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #555; }
  div#pemesanan p {
    line-height: 150%;
    font-size: 18px;
    color: #999;
    font-weight: 300; }
  div#pemesanan div.flow {
    margin: 40px 0; }
    div#pemesanan div.flow::after {
      content: "";
      display: block;
      clear: both; }
    div#pemesanan div.flow div.item {
      width: 33.3333%;
      float: left;
      text-align: center;
      padding: 10px 100px; }
      div#pemesanan div.flow div.item div.circle {
        border-radius: 100%;
        font-size: 40px;
        background: #ffc107;
        box-shadow: 0 1px 1px 0 #ccc;
        padding: 38px 10px; }
        div#pemesanan div.flow div.item div.circle i {
          display: block;
          color: #fff; }
      div#pemesanan div.flow div.item h3 {
        margin: 20px 0;
        color: #333;
        font-weight: 400;
        color: #888; }
  div#pemesanan div.description {
    padding: 10px 0; }
    div#pemesanan div.description h4 {
      font-weight: 400;
      font-size: 22px; }
    div#pemesanan div.description p {
      font-size: 16px; }
    div#pemesanan div.description ol li {
      display: block;
      padding: 10px 50px;
      transition: all .1s ease;
      border-bottom: 1px solid #eee; }
      div#pemesanan div.description ol li:last-child {
        border-bottom: none; }
      div#pemesanan div.description ol li:hover {
        background: #eee; }

div#list-menu-makanan {
  padding: 60px; }
  div#list-menu-makanan:after {
    clear: both;
    display: block;
    content: ""; }
  div#list-menu-makanan h2 {
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
    color: #555; }
  div#list-menu-makanan.aneka-menu {
    width: 100%;
    margin-top: -10px; }
  div#list-menu-makanan.grid {
    padding: 10px;
    background: transparent;
    box-shadow: none;
    width: 100%; }
    div#list-menu-makanan.grid ul {
      list-style-type: none; }
      div#list-menu-makanan.grid ul:after {
        clear: both;
        display: block;
        content: ""; }
      div#list-menu-makanan.grid ul li {
        float: left;
        width: 25%;
        height: 300px;
        overflow: hidden;
        padding: 10px; }
        div#list-menu-makanan.grid ul li div.card-1s {
          background: #fff;
          box-shadow: 0px 0px 6px 0px rgba(105, 104, 104, 0.14); }
        div#list-menu-makanan.grid ul li div.image {
          width: 100%;
          height: 143px;
          overflow: hidden; }
          div#list-menu-makanan.grid ul li div.image img {
            width: 100%; }
        div#list-menu-makanan.grid ul li div.description {
          padding: 10px;
          padding-left: 14px;
          width: 100%; }
          div#list-menu-makanan.grid ul li div.description h4 {
            margin-bottom: 5px;
            text-transform: uppercase;
            font-size: 20px; }
          div#list-menu-makanan.grid ul li div.description p {
            color: #888;
            font-weight: 300;
            font-size: 13px; }
  div#list-menu-makanan.list {
    background: #fff;
    width: 100%; }
    div#list-menu-makanan.list ul {
      list-style-type: none; }
      div#list-menu-makanan.list ul li {
        display: block;
        border-bottom: 1px solid #eee; }
        div#list-menu-makanan.list ul li:last-child {
          border: none; }
        div#list-menu-makanan.list ul li:after {
          content: "";
          display: block;
          clear: both; }
        div#list-menu-makanan.list ul li div.image {
          float: left;
          padding: 10px 30px;
          width: 20%; }
          div#list-menu-makanan.list ul li div.image img {
            width: 100%; }
        div#list-menu-makanan.list ul li div.description {
          padding: 10px;
          width: 70%;
          float: left; }
          div#list-menu-makanan.list ul li div.description h4 {
            margin-bottom: 5px;
            text-transform: uppercase;
            font-size: 22px; }
          div#list-menu-makanan.list ul li div.description p {
            color: #888;
            font-weight: 300;
            font-size: 16px; }
  div#list-menu-makanan a.btn-more {
    background: #12A7F4;
    color: #fff;
    font-weight: 900;
    float: right;
    display: block;
    box-shadow: 0px 0px 6px 0px rgba(105, 104, 104, 0.14);
    padding: 15px 30px;
    text-decoration: none; }

.header-panel {
  background: #ffc107;
  color: #fff;
  margin: 20px auto;
  padding: 16px;
  padding-left: 30px;
  box-shadow: 0px 0px 6px 0px rgba(105, 104, 104, 0.14); }
  .header-panel.option {
    position: relative;
    overflow: hidden; }
    .header-panel.option:after {
      clear: both;
      display: block;
      content: ""; }
    .header-panel.option h2 {
      float: left; }
    .header-panel.option div.button-option {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background: #ffc107;
      box-shadow: 0 1px 1px 0 #f78d06;
      float: right; }
      .header-panel.option div.button-option button {
        background: #ffc107;
        font-size: 24px;
        padding: 12px 20px;
        border: none;
        height: 100%; }
        .header-panel.option div.button-option button:focus {
          outline: none;
          background: #f78d06; }
        .header-panel.option div.button-option button.active {
          background: #f78d06; }
  .header-panel h2 {
    font-size: 20px;
    font-weight: 900; }
    .header-panel h2 i {
      margin-right: 20px;
      font-size: 25px; }

ul#list-contact {
  list-style-type: none; }
  ul#list-contact li {
    display: block;
    padding: 20px 20px;
    padding-left: 80px;
    margin: 20px 0; }
    ul#list-contact li:hover {
      background: #eee; }
    ul#list-contact li h4 {
      font-size: 24px;
      margin-bottom: 10px; }
    ul#list-contact li span.contact {
      margin-left: 10px;
      color: #999;
      font-size: 18px; }
      ul#list-contact li span.contact i.icon {
        margin-right: 10px;
        font-size: 20px; }

.map ul.list {
  list-style-type: none; }
  .map ul.list li {
    padding: 10px 20px;
    display: block; }
    .map ul.list li.location {
      background: #f78d06;
      color: #fff;
      font-weight: 100;
      font-size: 20px; }
      .map ul.list li.location i {
        color: #fff;
        float: right;
        margin-right: 0;
        position: relative;
        top: -4px; }
    .map ul.list li:hover {
      background: #f8f8f8; }
      .map ul.list li:hover.location {
        background: #f78d06; }
    .map ul.list li i {
      display: inline-block;
      margin-right: 20px;
      font-size: 25px;
      color: #777; }
    .map ul.list li span {
      font-weight: 300;
      display: inline-block;
      top: -5px;
      position: relative;
      color: #999; }

#testimoni {
  padding: 60px; }
  #testimoni h2 {
    text-transform: uppercase;
    font-weight: 900; }
  #testimoni p {
    color: #999;
    font-size: 18px; }
  #testimoni .list-testimoni ul {
    list-style-type: none; }
    #testimoni .list-testimoni ul li {
      padding: 20px;
      display: block;
      border-bottom: 1px solid #eee; }
      #testimoni .list-testimoni ul li:last-child {
        border-bottom: none; }
      #testimoni .list-testimoni ul li:after {
        clear: both;
        display: block;
        content: ""; }
      #testimoni .list-testimoni ul li div.avatar,
      #testimoni .list-testimoni ul li div.comment {
        float: left; }
      #testimoni .list-testimoni ul li div.avatar {
        width: 10%;
        font-size: 30px;
        text-align: center; }
        #testimoni .list-testimoni ul li div.avatar i {
          display: inline-block;
          position: relative;
          top: 10px; }
      #testimoni .list-testimoni ul li div.comment {
        width: 70%; }
        #testimoni .list-testimoni ul li div.comment h4 {
          margin: 5px 0; }
        #testimoni .list-testimoni ul li div.comment p {
          font-size: 16px;
          color: #888; }
  #testimoni .attention {
    border: 1px solid #ffc107;
    background: #FFF995;
    padding: 20px 30px;
    border-radius: 10px;
    margin: 40px 0;
    position: relative; }
    #testimoni .attention p {
      color: #555;
      font-size: 12px;
      text-transform: capitalize; }
    #testimoni .attention i.icon.ion-alert {
      font-size: 30px;
      color: #ffc107;
      position: absolute;
      top: 6px;
      right: 40px;
      display: inline-block; }
  #testimoni .form-comment {
    margin: 10px 0; }
    #testimoni .form-comment:after {
      clear: both;
      display: block;
      content: ""; }
    #testimoni .form-comment label {
      margin-top: 10px;
      display: block;
      color: #555;
      font-weight: 600; }
    #testimoni .form-comment input,
    #testimoni .form-comment textarea {
      width: 100%;
      padding: 10px 18px;
      border: 1px solid #eee;
      border-radius: 3px;
      margin: 5px 0; }
      #testimoni .form-comment input:focus,
      #testimoni .form-comment textarea:focus {
        outline: none;
        background: #fafafa; }
    #testimoni .form-comment button.submit-comment {
      background: #12A7F4;
      color: #fff;
      font-weight: 800;
      float: right;
      display: block;
      box-shadow: 0px 0px 6px 0px rgba(105, 104, 104, 0.14);
      padding: 15px 30px;
      text-decoration: none;
      border: none;
      text-transform: uppercase;
      border-radius: 3px; }

/*# sourceMappingURL=style.css.map */
